@{
    // Set the layout for the page
    Layout = "/Views/shared_admin/_standard_layout.cshtml";

    // Declare variables
    Int32 pageSize = 10;
    
    // Get values
    Domain domain = ViewBag.CurrentDomain;
    Int32 languageId = ViewBag.LanguageId;
    List<Language> languages = ViewBag.Languages;
    StaticPage standardStaticPage = ViewBag.StandardStaticPage;
    StaticPage translatedStaticPage = ViewBag.TranslatedStaticPage;
    KeyStringList tt = ViewBag.TranslatedTexts;
    string error_message = ViewBag.ErrorMessage != null ? ViewBag.ErrorMessage : string.Empty;
    string returnUrl = ViewBag.ReturnUrl;
    string keywords = ViewBag.Keywords;
    Int32 page = ViewBag.CurrentPage;

    // Create a clean string with keywords
    string cleanKeywords = keywords.Replace("+", "");

    // Create an array with search words
    string[] words = cleanKeywords.Split(' ');

    // Count the number of posts
    Int32 count = MediaFile.GetCountBySearch(words);

    // Get the number of pages
    Int32 numberOfPages = Convert.ToInt32(Math.Ceiling(((double)count / pageSize)));
    numberOfPages = numberOfPages == 0 ? 1 : numberOfPages;

    // Get mediafiles by keywords in search
    List<MediaFile> mediaFiles = MediaFile.GetBySearch(words, pageSize, page, "title", "ASC");

    // Get translated texts
    string translate_tt = tt.Get("translate");
    string no_choice_tt = tt.Get("no_choice");
    string language_tt = tt.Get("language");
    string static_page_tt = tt.Get("static_page");
    string title_tt = tt.Get("title");
    string linkname_tt = tt.Get("linkname");
    string description_tt = tt.Get("description");
    string meta_description_tt = tt.Get("meta_description");
    string keywords_tt = tt.Get("keywords");
    string page_name_tt = tt.Get("page_name");
    string inactive_tt = tt.Get("inactive");
    string media_files_tt = tt.Get("media_files");
    string search_tt = tt.Get("search");
    string id_tt = tt.Get("id");
    string media_type_tt = tt.Get("media_type");
    string source_tt = tt.Get("source");
    string preview_tt = tt.Get("preview");
    string add_tt = tt.Get("add");
    string delete_tt = tt.Get("delete");
    string cancel_tt = tt.Get("cancel");

    // Set the title for the page
    ViewBag.Title = static_page_tt + " - " + translate_tt.ToLower();
}

@*Title*@
<h1>@ViewBag.Title</h1>

@*Menu*@
@Html.Partial("~/Views/admin_static_pages/_form_menu.cshtml")

@*Main form*@
@using (Html.BeginForm("translate", "admin_static_pages", FormMethod.Post))
{
    @*Hidden data*@
    <input name="returnUrl" type="hidden" value="@returnUrl" />
    <div class="annytab-form-error-message" style="@(error_message != "" ? "display:block;" : "display:none;")">@Html.Raw(error_message)</div>
    <input type="hidden" name="hiddenStaticPageId" value="@standardStaticPage.id" />
    <input name="hiddenPage" type="hidden" value="@page" />
    
    @*Select language*@
    <div class="annytab-form-input-container">
        <div class="annytab-form-title">@(language_tt)</div>
        <select id="selectLanguage" name="selectLanguage" class="annytab-form-select" style="max-width:100%;">
            <option value="0" data-url="@Url.Content("/admin_static_pages/translate/" + standardStaticPage.id.ToString() + "?returnUrl=" + Server.UrlEncode(returnUrl))" @(languageId == 0 ? Html.Raw("selected='selected'") : Html.Raw(""))>@("-- " + no_choice_tt + " --")</option>
            @foreach (Language language in languages)
            {
                <option value="@language.id" data-url="@Url.Content("/admin_static_pages/translate/" + standardStaticPage.id.ToString() + "?returnUrl=" + Server.UrlEncode(returnUrl) + "&lang=" + language.id.ToString())" @(language.id == languageId ? Html.Raw("selected='selected'") : Html.Raw(""))>@language.name</option>
            }
        </select>
    </div>

    <div class="annytab-basic-line"></div>

    @*Title and content*@
    <div class="annytab-form-input-container">
        <div class="annytab-form-title">@(title_tt)</div>
        <div><input name="txtStandardTitle" type="text" class="annytab-form-textbox" style="max-width:100%;" tabindex="-1" readonly="readonly" value="@standardStaticPage.title" /></div>
        <div><input id="txtTitle" name="txtTranslatedTitle" type="text" class="annytab-form-textbox" style="max-width:100%" value="@(translatedStaticPage != null ? translatedStaticPage.title : "")" @(languageId == 0 ? Html.Raw("readonly='readonly'") : Html.Raw("")) /></div>
        <div class="annytab-basic-space-half"></div>
        <div class="annytab-form-title">@(description_tt)</div>
        <textarea name="txtStandardDescription" class="annytab-form-textarea" style="max-width:100%;" tabindex="-1" rows="10" readonly="readonly">@standardStaticPage.main_content</textarea>
        <div class="annytab-form-html-button-panel" data-textarea="txtDescription"></div>
        <div><textarea id="txtDescription" name="txtTranslatedDescription" class="annytab-form-textarea" style="max-width:100%;" rows="10" @(languageId == 0 ? Html.Raw("readonly='readonly'") : Html.Raw(""))>@(translatedStaticPage != null ? translatedStaticPage.main_content : "")</textarea></div>
    </div>

    <div class="annytab-basic-line"></div>
    
    @*Media files*@
    <div class="annytab-list-container">

        @*Searchbox*@
        <div style="padding:5px;margin:0px 0px 5px 0px;">
            <span>@(media_files_tt + ": ")</span>
            <input name="txtSearch" type="text" class="annytab-form-textbox" value="@keywords" style="width:150px;" />
            <input name="btnSearch" type="submit" class="annytab-form-button" value="@search_tt" />
        </div>

        @*List*@
        <div class="annytab-list-table" style="width:1000px;">
            <div class="anntyab-list-row">
                <div class="annytab-list-column-head" style="text-align:center;width:100px;">@id_tt</div>
                <div class="annytab-list-column-head" style="text-align:left;width:200px;">@title_tt</div>
                <div class="annytab-list-column-head" style="text-align:left;width:200px;">@media_type_tt</div>
                <div class="annytab-list-column-head" style="text-align:left;width:200px;">@source_tt</div>
                <div class="annytab-list-column-head" style="text-align:center;width:200px;">@preview_tt</div>
                <div class="annytab-list-column-head" style="text-align:center;width:100px;">@add_tt</div>
            </div>

            @for (int i = 0; i < mediaFiles.Count; i++)
            {
                @:<div class="@(i % 2 != 0 ? "annytab-list-row-main" : "annytab-list-row-alt")">
                @:<div class="annytab-list-column" style="text-align:center;width:100px;">@mediaFiles[i].id.ToString()</div>
                @:<div class="annytab-list-column" style="text-align:left;width:200px;">@mediaFiles[i].title</div>
                @:<div class="annytab-list-column" style="text-align:left;width:200px;">@mediaFiles[i].media_type</div>
                @:<div class="annytab-list-column" style="text-align:left;width:200px;">@mediaFiles[i].src</div>
                @:<div class="annytab-list-column" style="text-align:center;width:200px;"><input data-id="btnPreviewMediaFile" type="button" class="annytab-form-button" data-title="@mediaFiles[i].title" data-media-type="@mediaFiles[i].media_type" data-src="@mediaFiles[i].src" value="@preview_tt" /></div>
                @:<div class="annytab-list-column" style="text-align:center;width:100px;"><input data-id="btnAddMediaFile" type="button" class="annytab-form-button" data-title="@mediaFiles[i].title" data-media-type="@mediaFiles[i].media_type" data-src="@mediaFiles[i].src" value="@add_tt" /></div>
                @:</div>
            }
        </div>
    </div>

    <div class="annytab-basic-space"></div>

    @*Paging menu*@
    <div class="annytab-basic-container" style="text-align:center;">
        @if (page > 1)
        {
            @:<div style="float:left;text-align:left;"><input name="btnPreviousPage" type="submit" class="annytab-navigate-button" value="@Html.Raw("&#60;&#60;")" /></div>
        }
        else
        {
            @:<div style="float:left;text-align:left;"><span class="annytab-inactive-navigate-button">@Html.Raw("&#60;&#60;")</span></div>
        }

        <span class="annytab-page-information">@(tt.Get("page") + " " + page.ToString() + " " + tt.Get("of").ToLower() + " " + numberOfPages)</span>

        @if (page < numberOfPages)
        {
            @:<div style="float:right;text-align:right;"><input name="btnNextPage" type="submit" class="annytab-navigate-button" value="@Html.Raw("&#62;&#62;")" /></div>
        }
        else
        {
            @:<div style="float:right;text-align:right;"><span class="annytab-inactive-navigate-button">@Html.Raw("&#62;&#62;")</span></div>
        }
    </div>

    <div class="annytab-basic-line"></div>

    @*Input form table*@
    <div class="annytab-input-form-table">
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(linkname_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="txtStandardLinkname" type="text" class="annytab-form-textbox" tabindex="-1" readonly="readonly" value="@standardStaticPage.link_name" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">&nbsp;</div>
            <div class="annytab-input-form-column-input"><input name="txtTranslatedLinkname" type="text" class="annytab-form-textbox" value="@(translatedStaticPage != null ? translatedStaticPage.link_name : "")" @(languageId == 0 ? Html.Raw("readonly='readonly'") : Html.Raw("")) /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(meta_description_tt + ":")</div>
            <div class="annytab-input-form-column-input"><textarea name="txtStandardMetadescription" class="annytab-form-textarea" tabindex="-1" rows="4" readonly="readonly">@standardStaticPage.meta_description</textarea></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">&nbsp;</div>
            <div class="annytab-input-form-column-input"><textarea name="txtTranslatedMetadescription" class="annytab-form-textarea" rows="4" @(languageId == 0 ? Html.Raw("readonly='readonly'") : Html.Raw(""))>@(translatedStaticPage != null ? translatedStaticPage.meta_description : "")</textarea></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(keywords_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="txtStandardMetakeywords" type="text" class="annytab-form-textbox" tabindex="-1" readonly="readonly" value="@standardStaticPage.meta_keywords" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">&nbsp;</div>
            <div class="annytab-input-form-column-input"><input name="txtTranslatedMetakeywords" type="text" class="annytab-form-textbox" value="@(translatedStaticPage != null ? translatedStaticPage.meta_keywords : "")" @(languageId == 0 ? Html.Raw("readonly='readonly'") : Html.Raw("")) /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(page_name_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="txtStandardPagename" type="text" class="annytab-form-textbox" tabindex="-1" readonly="readonly" value="@standardStaticPage.page_name" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">&nbsp;</div>
            <div class="annytab-input-form-column-input"><input name="txtTranslatedPagename" type="text" class="annytab-form-textbox" value="@(translatedStaticPage != null ? translatedStaticPage.page_name : "")" @(languageId == 0 ? Html.Raw("readonly='readonly'") : Html.Raw("")) /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(inactive_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="cbInactive" type="checkbox" class="annytab-form-checkbox" value="true" @(translatedStaticPage != null && translatedStaticPage.inactive == true ? Html.Raw("checked='checked'") : Html.Raw("")) /></div>
        </div>
    </div>

    @*Button panel*@
    <div style="display:block;border:1px solid #cccccc;margin:20px 0px 0px 0px;border-radius:4px;">
        <input id="btnPreviewPost" data-theme="@domain.custom_theme_id" type="button" class="annytab-form-button" value="@preview_tt" @(languageId == 0 ? Html.Raw("disabled='disabled'") : Html.Raw("")) />
        <input id="btnSave" type="submit" class="annytab-form-button" value="@translate_tt" @(languageId == 0 ? Html.Raw("disabled='disabled'") : Html.Raw("")) />
        <input data-id="deletePost" type="button" class="annytab-form-button" value="@delete_tt" @(Html.Raw("data-url='/admin_static_pages/delete/" + standardStaticPage.id.ToString() + "?returnUrl=" + Server.UrlEncode(returnUrl) + "&lang=" + languageId.ToString() + "'")) @(languageId == 0 ? Html.Raw("disabled='disabled'") : Html.Raw("")) />
        <input type="button" class="annytab-form-button" value="@cancel_tt" onclick="@Html.Raw("location.href='" + returnUrl + "'")" />
    </div>
}

@section scripts {
    <script src="/Scripts/rangyinputs-jquery.js"></script>
    <script src="/Scripts/annytab_admin/annytab.html-button-panel.js"></script>
    <script type="text/javascript">
        $("#selectLanguage").focus();
        $("#selectLanguage").on("change", function () { $(location).attr("href", $(this).find(":selected").attr("data-url")); });
        $(".annytab-form-html-button-panel").htmlButtonPanel({ buttonClass: "annytab-form-button" });
    </script>
}