@using System.Globalization
@{
    // Set the layout for the page
    Layout = "/Views/shared_admin/_standard_layout.cshtml";

    // Get form data
    Domain domain = ViewBag.CurrentDomain;
    KeyStringList tt = ViewBag.TranslatedTexts;
    Language currentLanguage = Language.GetOneById(domain.back_end_language);
    CultureInfo cultureInfo = Tools.GetCultureInfo(currentLanguage);
    QueryParams parameters = ViewBag.QueryParams;
    string queryString = "/admin_ratings" + QueryParams.GetQueryString(parameters);

    // Create a clean string with keywords
    string cleanKeywords = parameters.keywords.Replace("+", "");

    // Create an array with search words
    string[] words = cleanKeywords.Split(' ');

    // Count the number of posts
    Int32 count = PostRating.GetCountBySearch(words);

    // Get the number of pages
    Int32 numberOfPages = Convert.ToInt32(Math.Ceiling(((double)count / parameters.page_size)));
    numberOfPages = numberOfPages == 0 ? 1 : numberOfPages;

    // Get post comments by keywords in search
    List<PostRating> ratings = PostRating.GetBySearch(words, parameters.page_size, parameters.current_page,
        parameters.sort_field, parameters.sort_order);

    // Get translated texts
    string rating_tt = tt.Get("rating");
    string list_tt = tt.Get("list");
    string post_tt = tt.Get("post");
    string administrator_tt = tt.Get("administrator");
    string language_tt = tt.Get("language");
    string edit_tt = tt.Get("edit");
    string delete_tt = tt.Get("delete");

    // Set paging data
    ViewBag.CurrentPage = parameters.current_page;
    ViewBag.NumberOfPages = numberOfPages;
    ViewBag.NavigateUrl = "/admin_ratings?kw=" + Server.UrlEncode(parameters.keywords) + "&sf=" + parameters.sort_field + "&so=" + parameters.sort_order + "&pz=" + parameters.page_size + "&qp={0}";

    // Set the page title
    ViewBag.Title = rating_tt + " - " + list_tt.ToLower();
}

<h1>@ViewBag.Title</h1>
@Html.Partial("~/Views/admin_ratings/_form_menu.cshtml")

@*List of ratings*@
<div class="annytab-list-container">
    <div class="annytab-list-table" style="width:600px;">
        <div class="annytab-list-row">
            <div class="annytab-list-column-head" style="text-align:center;width:100px;">@post_tt</div>
            <div class="annytab-list-column-head" style="text-align:center;width:100px;">@administrator_tt</div>
            <div class="annytab-list-column-head" style="text-align:center;width:100px;">@language_tt</div>
            <div class="annytab-list-column-head" style="text-align:center;width:100px;">@rating_tt</div>
            <div class="annytab-list-column-head" style="text-align:center;width:100px;">@edit_tt</div>
            <div class="annytab-list-column-head" style="text-align:center;width:100px;">@delete_tt</div>
        </div>

        @for (int i = 0; i < ratings.Count; i++)
        {
            @:<div class="@(i % 2 != 0 ? "annytab-list-row-main" : "annytab-list-row-alt")">
            @:<div class="annytab-list-column" style="text-align:center;width:100px;">@ratings[i].post_id.ToString()</div>
            @:<div class="annytab-list-column" style="text-align:center;width:100px;">@ratings[i].administrator_id.ToString()</div>
            @:<div class="annytab-list-column" style="text-align:center;width:100px;">@ratings[i].language_id.ToString()</div>
            @:<div class="annytab-list-column" style="text-align:center;width:100px;">@ratings[i].rating.ToString("##,0.##", cultureInfo)</div>
            @:<div class="annytab-list-column" style="text-align:center;width:100px;"><input type="button" class="annytab-form-button" value="@edit_tt" onclick="location.href='@Url.Action("edit", "admin_ratings", new { id = ratings[i].post_id, administratorId = ratings[i].administrator_id, languageId = ratings[i].language_id, returnUrl = queryString })'" /></div>
            @:<div class="annytab-list-column" style="text-align:center;width:100px;"><input data-id="deletePost" type="button" class="annytab-form-button" value="@delete_tt" @(Html.Raw("data-url='/admin_ratings/delete/" + ratings[i].post_id + "?administratorId=" + ratings[i].administrator_id + "&languageId=" + ratings[i].language_id + "&returnUrl=" + Server.UrlEncode(queryString) + "'")) /></div>
            @:</div>
        }
    </div>
</div>

@* Paging menu *@
@Html.Partial("/Views/shared_admin/_paging_menu.cshtml")

@section scripts {
    <script>$("#txtSearch").focus();</script>
}