@{
    // Get form values
    Domain domain = ViewBag.CurrentDomain;
    Administrator user = ViewBag.User;
    KeyStringList tt = ViewBag.TranslatedTexts;

    // Get translated texts
    string my_pages_tt = tt.Get("my_pages");

    // Set the title
    string title = my_pages_tt;

    // Set meta data
    ViewBag.Title = title;
    ViewBag.MetaTitle = title;
    ViewBag.MetaDescription = title;
    ViewBag.MetaKeywords = title;
    ViewBag.MetaCanonical = domain.web_address + "/user";
    ViewBag.MetaRobots = "noindex, nofollow";

    // Set the layout for the page
    Layout = domain.custom_theme_id == 0 ? "/Views/shared_front/_standard_layout.cshtml" : "/Views/theme/front_standard_layout.cshtml";
}

@* Title *@
<h1>@ViewBag.Title</h1>

@* Menu *@
@if (user.id != 0)
{
    @Html.Partial(domain.custom_theme_id == 0 ? "/Views/user/_user_menu.cshtml" : "/Views/theme/user_menu.cshtml")
}

@* Image and description *@
<div class="annytab-author-container">
    <div class="annytab-author-left">
        <img src="@Tools.GetAdministratorMainImageUrl(user.id)" alt="@user.author_name" style="width:100%;border-radius:4px;" />
    </div>
    <div class="annytab-author-right">
        <h1>@user.author_name</h1>
        <span class="annytab-basic-bread-text">@Html.Raw(user.author_description)</span>
    </div>
</div>

<div class="annytab-basic-space"></div>

@section scripts {
    <script type="text/javascript">$("#txtSearch").focus();</script>
}