@{
    // Get form values
    Domain domain = ViewBag.CurrentDomain;
    List<Category> mainCategories = ViewBag.MainCategories;
    Administrator user = ViewBag.User;
    KeyStringList tt = ViewBag.TranslatedTexts;
    string error_message = ViewBag.ErrorMessage != null ? ViewBag.ErrorMessage : string.Empty;

    // Get translated texts
    string log_in_tt = tt.Get("log_in");
    string user_name_tt = tt.Get("user_name");
    string password_tt = tt.Get("password");
    string forgot_tt = tt.Get("forgot");
    string register_tt = tt.Get("register");

    // Set meta data
    ViewBag.Title = log_in_tt;
    ViewBag.MetaTitle = log_in_tt;
    ViewBag.MetaDescription = log_in_tt;
    ViewBag.MetaKeywords = log_in_tt;
    ViewBag.MetaCanonical = domain.web_address + "/user/login";
    ViewBag.MetaRobots = "noindex, nofollow";

    // Set the layout for the page
    Layout = domain.custom_theme_id == 0 ? "/Views/shared_front/_standard_layout.cshtml" : "/Views/theme/front_standard_layout.cshtml";
}

@* Title *@
<h1>@ViewBag.Title</h1>

@* Login form *@
@using (Html.BeginForm("login", "user", FormMethod.Post))
{
    @* Hidden data *@
    <input name="hiddenReturnUrl" type="hidden" value="@("/user")" />

    @* Error box *@
    <div class="annytab-form-errorbox" style="@(error_message != "" ? "display:block;" : "display:none;")">@Html.Raw(error_message)</div>

    @* Login form *@
    <div class="annytab-basic-container">
        <div style="clear:both;">
            <span class="annytab-form-label">@user_name_tt</span><br />
            <input id="txtUserName" name="txtUserName" type="text" class="annytab-form-textbox" value="@user.admin_user_name" />
        </div>
        <div style="clear:both;">
            <span class="annytab-form-label">@password_tt</span><br />
            <input name="txtPassword" type="password" class="annytab-form-textbox" value="" /><br />
        </div>
        <div style="clear:both;margin:4px 0px 0px 0px;">
            <input id="btnLogin" type="submit" value="@log_in_tt" class="annytab-basic-button" />
            @* External login *@
            @if (domain.facebook_app_id != "")
            {
                <button type="button" class="annytab-facebook-button" onclick="location.href='@Url.Action("facebook_login", "user")'"><img src="~/Content/images/annytab_design/facebook_logo.png" alt="Facebook" style="height:16px;vertical-align:top;" />&nbsp;&nbsp;@log_in_tt</button>
            }
            @if (domain.google_app_id != "")
            {
                <button type="button" class="annytab-google-button" onclick="location.href='@Url.Action("google_login", "user")'"><img src="~/Content/images/annytab_design/google_plus.png" alt="Google plus" style="height:24px;" />&nbsp;@log_in_tt</button>
            }
        </div>
    </div>
}

<div class="annytab-basic-space"></div>

@* Forgot password *@
<div class="annytab-basic-container">
    <a href="/user/forgot_password" class="annytab-basic-text-normal">@(forgot_tt + " " + password_tt.ToLower() + "?")</a><span>@(" | ")</span><a href="/user/edit" class="annytab-basic-text-normal">@register_tt</a>
</div>

<div class="annytab-basic-space"></div>

@section scripts {
    <script>$("#txtUserName").focus();</script>
}