@{
    // Set the layout for the page
    Layout = "/Views/shared_admin/_standard_layout.cshtml";
    
    // Declare variables
    Int32 pageSize = 10;
    
    // Get form data
    Domain domain = ViewBag.CurrentDomain;
    Ad ad = ViewBag.Ad;
    List<Language> languages = Language.GetAll(domain.back_end_language, "id", "ASC"); ;
    KeyStringList tt = ViewBag.TranslatedTexts;
    string error_message = ViewBag.ErrorMessage != null ? ViewBag.ErrorMessage : "";
    string returnUrl = ViewBag.ReturnUrl;
    string keywords = ViewBag.Keywords;
    Int32 page = ViewBag.CurrentPage;
    
    // Create a clean string with keywords
    string cleanKeywords = keywords.Replace("+", "");

    // Create an array with search words
    string[] words = cleanKeywords.Split(' ');

    // Count the number of posts
    Int32 count = MediaFile.GetCountBySearch(words);

    // Get the number of pages
    Int32 numberOfPages = Convert.ToInt32(Math.Ceiling(((double)count / pageSize)));
    numberOfPages = numberOfPages == 0 ? 1 : numberOfPages;

    // Get mediafiles by keywords in search
    List<MediaFile> mediaFiles = MediaFile.GetBySearch(words, pageSize, page, "title", "ASC");
    
    // Get translated texts
    string ad_tt = tt.Get("ad");
    string new_tt = tt.Get("new");
    string edit_tt = tt.Get("edit");
    string id_tt = tt.Get("id");
    string no_choice_tt = tt.Get("no_choice");
    string language_tt = tt.Get("language");
    string name_tt = tt.Get("name");
    string ad_slot_tt = tt.Get("ad_slot");
    string ad_code_tt = tt.Get("ad_code");
    string url_tt = tt.Get("url");
    string inactive_tt = tt.Get("inactive");
    string media_files_tt = tt.Get("media_files");
    string title_tt = tt.Get("title");
    string search_tt = tt.Get("search");
    string media_type_tt = tt.Get("media_type");
    string source_tt = tt.Get("source");
    string preview_tt = tt.Get("preview");
    string add_tt = tt.Get("add");
    string save_tt = tt.Get("save");
    string cancel_tt = tt.Get("cancel");

    // Set the title for the page
    if (ad.id == 0)
    {
        ViewBag.Title = ad_tt + " - " + new_tt.ToLower();
    }
    else
    {
        ViewBag.Title = ad_tt + " - " + edit_tt.ToLower();
    }
}

<h1>@ViewBag.Title</h1>

@*Menu*@
@Html.Partial("/Views/admin_ads/_form_menu.cshtml")

@*Main form*@
@using (Html.BeginForm("edit", "admin_ads", FormMethod.Post))
{
    <input name="returnUrl" type="hidden" value="@returnUrl" />
    <input name="hiddenPage" type="hidden" value="@page" />
    <div class="annytab-form-error-message" style="@(error_message != "" ? "display:block;" : "display:none;")">@Html.Raw(error_message)</div>

    @*Input form table*@
    <div class="annytab-input-form-table">
        <div class="annytab-input-form-row" style="@(ad.id != 0 ? "display:table-row;" : "display:none;")">
            <div class="annytab-input-form-column-label">@(id_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="txtId" type="text" class="annytab-form-textbox" tabindex="-1" readonly="readonly" value="@ad.id" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(language_tt + ":")</div>
            <div class="annytab-input-form-column-input">
                <select id="selectLanguage" name="selectLanguage" class="annytab-form-select">
                    <option value="0" @(ad.language_id == 0 ? Html.Raw("selected='selected'") : Html.Raw(""))>@("-- " + no_choice_tt + " --")</option>
                    @foreach (Language language in languages)
                    {
                        <option value="@language.id" @(language.id == ad.language_id ? Html.Raw("selected='selected'") : Html.Raw(""))>@language.name</option>
                    }
                </select>
            </div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(name_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input id="txtName" name="txtName" type="text" class="annytab-form-textbox" value="@ad.name" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(ad_code_tt + ":")</div>
            <div class="annytab-input-form-column-input"><textarea id="txtDescription" name="txtDescription" class="annytab-form-textarea" rows="10">@ad.ad_code</textarea></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(ad_slot_tt + ":")</div>
            <div class="annytab-input-form-column-input">
                <select name="selectAdSlot" class="annytab-form-select">
                    <option value="1" @(ad.ad_slot == "1" ? Html.Raw("selected='selected'") : Html.Raw(""))>@(ad_slot_tt + " 1")</option>
                    <option value="2" @(ad.ad_slot == "2" ? Html.Raw("selected='selected'") : Html.Raw(""))>@(ad_slot_tt + " 2")</option>
                    <option value="3" @(ad.ad_slot == "3" ? Html.Raw("selected='selected'") : Html.Raw(""))>@(ad_slot_tt + " 3")</option>
                    <option value="4" @(ad.ad_slot == "4" ? Html.Raw("selected='selected'") : Html.Raw(""))>@(ad_slot_tt + " 4")</option>
                    <option value="5" @(ad.ad_slot == "5" ? Html.Raw("selected='selected'") : Html.Raw(""))>@(ad_slot_tt + " 5")</option>
                    <option value="6" @(ad.ad_slot == "6" ? Html.Raw("selected='selected'") : Html.Raw(""))>@(ad_slot_tt + " 6")</option>
                    <option value="7" @(ad.ad_slot == "7" ? Html.Raw("selected='selected'") : Html.Raw(""))>@(ad_slot_tt + " 7")</option>
                    <option value="8" @(ad.ad_slot == "8" ? Html.Raw("selected='selected'") : Html.Raw(""))>@(ad_slot_tt + " 8")</option>
                    <option value="9" @(ad.ad_slot == "9" ? Html.Raw("selected='selected'") : Html.Raw(""))>@(ad_slot_tt + " 9")</option>
                    <option value="10" @(ad.ad_slot == "10" ? Html.Raw("selected='selected'") : Html.Raw(""))>@(ad_slot_tt + " 10")</option>
                    <option value="11" @(ad.ad_slot == "11" ? Html.Raw("selected='selected'") : Html.Raw(""))>@(ad_slot_tt + " 11")</option>
                    <option value="12" @(ad.ad_slot == "12" ? Html.Raw("selected='selected'") : Html.Raw(""))>@(ad_slot_tt + " 12")</option>
                </select>
            </div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(inactive_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="cbInactive" type="checkbox" class="annytab-form-checkbox" value="true" @(ad != null && ad.inactive == true ? Html.Raw("checked='checked'") : Html.Raw("")) /></div>
        </div>
    </div>

    <div class="annytab-basic-line"></div>
    
    @*Media files*@
    <div class="annytab-list-container">

        @*Search box*@
        <div style="padding:5px;margin:0px 0px 5px 0px;">
            <span>@(media_files_tt + ": ")</span>
            <input name="txtSearch" type="text" class="annytab-form-textbox" style="width:150px;" />
            <input name="btnSearch" type="submit" class="annytab-form-button" value="@search_tt" />
        </div>

        @*List*@
        <div class="annytab-list-table" style="width:1000px;">
            <div class="anntyab-list-row">
                <div class="annytab-list-column-head" style="text-align:center;width:100px;">@id_tt</div>
                <div class="annytab-list-column-head" style="text-align:left;width:200px;">@title_tt</div>
                <div class="annytab-list-column-head" style="text-align:left;width:200px;">@media_type_tt</div>
                <div class="annytab-list-column-head" style="text-align:left;width:200px;">@source_tt</div>
                <div class="annytab-list-column-head" style="text-align:center;width:200px;">@preview_tt</div>
                <div class="annytab-list-column-head" style="text-align:center;width:100px;">@add_tt</div>
            </div>

            @for (int i = 0; i < mediaFiles.Count; i++)
            {
                @:<div class="@(i % 2 != 0 ? "annytab-list-row-main" : "annytab-list-row-alt")">
                @:<div class="annytab-list-column" style="text-align:center;width:100px;">@mediaFiles[i].id.ToString()</div>
                @:<div class="annytab-list-column" style="text-align:left;width:200px;">@mediaFiles[i].title</div>
                @:<div class="annytab-list-column" style="text-align:left;width:200px;">@mediaFiles[i].media_type</div>
                @:<div class="annytab-list-column" style="text-align:left;width:200px;">@mediaFiles[i].src</div>
                @:<div class="annytab-list-column" style="text-align:center;width:200px;"><input data-id="btnPreviewMediaFile" type="button" class="annytab-form-button" data-title="@mediaFiles[i].title" data-media-type="@mediaFiles[i].media_type" data-src="@mediaFiles[i].src" value="@preview_tt" /></div>
                @:<div class="annytab-list-column" style="text-align:center;width:100px;"><input data-id="btnAddMediaFile" type="button" class="annytab-form-button" data-title="@mediaFiles[i].title" data-media-type="@mediaFiles[i].media_type" data-src="@mediaFiles[i].src" value="@add_tt" /></div>
                @:</div>
            }
        </div>
    </div>

    <div class="annytab-basic-space"></div>

    @* Paging menu *@
    <div class="annytab-basic-container" style="text-align:center;">
        @if (page > 1)
        {
            @:<div style="float:left;text-align:left;"><input name="btnPreviousPage" type="submit" class="annytab-navigate-button" value="@Html.Raw("&#60;&#60;")" /></div>
        }
        else
        {
            @:<div style="float:left;text-align:left;"><span class="annytab-inactive-navigate-button">@Html.Raw("&#60;&#60;")</span></div>
        }

        <span class="annytab-page-information">@(tt.Get("page") + " " + page.ToString() + " " + tt.Get("of").ToLower() + " " + numberOfPages)</span>

        @if (page < numberOfPages)
        {
            @:<div style="float:right;text-align:right;"><input name="btnNextPage" type="submit" class="annytab-navigate-button" value="@Html.Raw("&#62;&#62;")" /></div>
        }
        else
        {
            @:<div style="float:right;text-align:right;"><span class="annytab-inactive-navigate-button">@Html.Raw("&#62;&#62;")</span></div>
        }
    </div>

    <div class="annytab-basic-line"></div>

    @*Button panel*@
    <div style="display:block;border:1px solid #cccccc;margin: 20px 0px 0px 0px;border-radius: 4px;">
        <input id="btnPreviewAd" type="button" class="annytab-form-button" value="@preview_tt" />
        <input name="btnSave" class="annytab-form-button" type="submit" value="@save_tt" />
        <input type="button" class="annytab-form-button" value="@cancel_tt" onclick="@Html.Raw("location.href='" + returnUrl + "'")" />
    </div>
}

@section scripts {
    <script src="/Scripts/rangyinputs-jquery.js"></script>
    <script type="text/javascript">
        $("#selectLanguage").focus();
        $("#btnPreviewAd").click(previewAd);

        // Preview an ad
        function previewAd()
        {
            // Get data
            var title = $("#txtName").val();
            var text_area = $("#txtDescription");

            // Create the string to print
            var html = '<!DOCTYPE html><html><head><title>' + title + '</title>';
            html += '<link type="text/css" rel="stylesheet" href="@(domain.custom_theme_id == 0 ? "/Content/annytab_css/front_default_style.css" : "/Content/theme/front_default_style.css")" />';
            html += '</head><body>';

            // Set the media content
            html += text_area.val();

            // Add the final touch to the html
            html += '</body></html>';

            // Calculate offsets
            var left = (screen.width / 2) - (1280 / 2);
            var top = (screen.height / 2) - (720 / 2);

            // Create the preview window
            var printWindow = window.open("", "", "resizable=yes,scrollbars=yes,height=720,width=1280,top=" + top + ",left=" + left, true);
            printWindow.document.write(html);
            printWindow.document.close();

        } // End of the previewAd method
    </script>
}