@using System.Globalization
@{

    // Get form values
    Domain domain = ViewBag.CurrentDomain;
    Language language = ViewBag.CurrentLanguage;
    KeyStringList imageUrls = Tools.GetDomainImageUrls(domain.id);
    List<BreadCrumb> breadCrumbs = ViewBag.BreadCrumbs;
    KeyStringList tt = ViewBag.TranslatedTexts;
    List<Weblink> weblinks = Weblink.GetAllActive(domain.front_end_language, "title", "ASC");
    List<StaticPage> informationPages = StaticPage.GetAllActiveLinks(domain.front_end_language, "title", "ASC");
    Administrator user = Administrator.GetSignedInAdministrator();
    CultureInfo cultureInfo = ViewBag.CultureInfo;
    List<Ad> adsRight = Ad.GetByAdSlot("1", domain.front_end_language, "name", "ASC");

    // Get translated texts
    string logotype_tt = tt.Get("logotype");
    string background_image_tt = tt.Get("background_image");
    string menu_tt = tt.Get("menu");
    string search_tt = tt.Get("search");
    string categories_tt = tt.Get("categories");
    string my_pages_tt = tt.Get("my_pages");
    string start_page_tt = tt.Get("start_page");
    string resources_tt = tt.Get("resources");
    string information_tt = tt.Get("information");
    string log_in_tt = tt.Get("log_in");
    string edit_tt = tt.Get("edit");
    string user_details_tt = tt.Get("user_details");
    string comments_tt = tt.Get("comments");
    string ratings_tt = tt.Get("ratings");
    string log_out_tt = tt.Get("log_out");
    string copyright_information_tt = tt.Get("copyright_information");
    string cookie_consent_tt = tt.Get("cookie_consent");
    string ok_tt = tt.Get("ok");
}

<!DOCTYPE html>
<html lang="@(language.language_code.ToLower() + "-" + language.country_code.ToUpper())" prefix="og: http://ogp.me/ns#">
<head>
    @* Title and meta tags *@
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.MetaDescription" />
    <meta name="keywords" content="@ViewBag.MetaKeywords" />
    <link rel="canonical" href="@ViewBag.MetaCanonical" />
    <meta name="robots" content="@(domain.noindex == true ? "noindex, nofollow" : ViewBag.MetaRobots)" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,user-scalable=yes" />
    <meta name="google" content="notranslate">

    @* Facebook meta tags *@
    <meta property="og:title" content="@ViewBag.MetaTitle" />
    <meta property="og:description" content="@ViewBag.MetaDescription" />
    <meta property="og:type" content="website">
    <meta property="og:url" content="@ViewBag.MetaCanonical" />
    <meta property="og:image" content="@(domain.web_address + imageUrls.Get("big_icon"))" />
    <meta property="og:site_name" content="@domain.website_name" />

    @* Resources *@
    <link rel="icon" type="image/x-icon" href="@imageUrls.Get("small_icon")" />
    <link rel="stylesheet" type="text/css" media="screen and (min-width:1366px)" href="@(domain.custom_theme_id == 0 ? "/Content/annytab_css/front_standard_layout.css" : "/Content/theme/front_standard_layout.css")" />
    <link rel="stylesheet" type="text/css" media="only screen and (min-width:1046px) and (max-width:1365px)" href="@(domain.custom_theme_id == 0 ? "/Content/annytab_css/front_medium_layout.css" : "/Content/theme/front_medium_layout.css")" />
    <link rel="stylesheet" type="text/css" media="only screen and (max-width:1045px)" href="@(domain.custom_theme_id == 0 ? "/Content/annytab_css/front_mobile_layout.css" : "/Content/theme/front_mobile_layout.css")" />
    <link rel="stylesheet" type="text/css" href="@(domain.custom_theme_id == 0 ? "/Content/annytab_css/front_default_style.css" : "/Content/theme/front_default_style.css")" />

</head>
<body>
    @*Cookie consent*@
    <div class="annytab-cookie-consent">
        <span style="font-size:12px;line-height:27px;">@(cookie_consent_tt + " ")</span>
        <button id="btnCookieConsent" type="button" class="annytab-form-button">@ok_tt</button>
    </div>

    @* The background image *@
    <img id="backgroundImage" data-src="@imageUrls.Get("background_image")" class="annytab-background-image" alt="@background_image_tt" />

    @* Master outer container *@
    <div class="annytab-layout-outer-container">

        @* Master inner container *@
        <div class="annytab-layout-inner-container">

            @* Standard header *@
            <div class="annytab-layout-standard-header">
                <a href="/"><img alt="@domain.website_name" class="annytab-logotype" src="@imageUrls.Get("default_logotype")" /></a>
            </div>

            @* Mobile header *@
            <div class="annytab-layout-mobile-header">
                <img id="toggleMobileMenu" alt="@menu_tt" src="/Content/images/annytab_design/menu_icon.png" style="z-index:1;height:100%;cursor:pointer;position:absolute;left:5px;top:0px;" />
                <div class="annytab-basic-divider" style="position:absolute;left:47px;top:0px;height:42px;margin-left:5px;"></div>
                <div class="annytab-basic-divider" style="position:absolute;right:47px;top:0px;height:42px;margin-right:5px;"></div>
                <a href="/user/"><img alt="@my_pages_tt" src="/Content/images/annytab_design/my_pages_icon.png" style="z-index:1;height:100%;cursor:pointer;position:absolute;right:5px;top:0px;" /></a>
                <a href="/"><img alt="@domain.website_name" class="annytab-logotype" src="@imageUrls.Get("mobile_logotype")" /></a>
            </div>

            @* Gradient *@
            <div class="annytab-basic-gradient-down"></div>

            @* Breadcrumbs *@
            <div style="@(breadCrumbs.Count > 0 ? "display:block;" : "display:none;")padding:0px 10px 5px 10px;border-bottom:1px solid #DCDCDC;">
                @for (int i = 0; i < breadCrumbs.Count; i++)
                {
                    if (i > 0)
                    {
                        <span> // </span>
                    }
                    <a href="@breadCrumbs[i].link" rel="nofollow" style="font-size:12px;line-height:12px;">@breadCrumbs[i].name</a>
                }
            </div>

            @* Left container *@
            <div id="mobileMenu" class="annytab-layout-left-content">
                <div class="annytab-layout-menu-padding">

                    @* Search box *@
                    <div class="annytab-search-box">
                        @using (Html.BeginForm("search", "home", FormMethod.Post))
                        {
                            <input id="btnSearch" type="submit" class="annytab-search-button" value="" />
                            <input id="txtSearch" name="txtSearch" type="text" class="annytab-search-textbox" />
                        }
                    </div>

                    @* Category menu *@
                    <div class="annytab-menu-box">
                        <div class="annytab-menu-title">@categories_tt.ToUpper()</div>
                        @Html.Partial(domain.custom_theme_id == 0 ? "/Views/shared_front/_category_menu.cshtml" : "/Views/theme/front_category_menu.cshtml")
                    </div>

                    @* Weblinks *@
                    <div class="annytab-menu-box" style="@(weblinks.Count > 0 ? "display:block;" : "display:none")">
                        <div class="annytab-menu-title">@resources_tt.ToUpper()</div>
                        @foreach (Weblink link in weblinks)
                        {
                            @:<div><a href="@link.url" rel="@link.rel" target="@link.target" class="annytab-menu-link">@link.link_name</a></div>
                        }
                    </div>

                    @* Information menu *@
                    <div class="annytab-menu-box" style="@(informationPages.Count > 0 ? "display:block;" : "display:none")">
                        <div class="annytab-menu-title">@information_tt.ToUpper()</div>
                        @foreach (StaticPage page in informationPages)
                        {
                            @:<div><a href="@("/home/information/" + page.page_name)" class="annytab-menu-link">@page.link_name</a></div>
                        }
                    </div>

                    @* User login *@
                    <div class="annytab-menu-box">
                        <div class="annytab-menu-title">@my_pages_tt.ToUpper()</div>
                        @if (user != null)
                        {
                            @:<div><a href="/user/" class="annytab-menu-link">@start_page_tt</a></div>
                            @:<div><a href="/user/edit" class="annytab-menu-link">@(edit_tt + " " + user_details_tt.ToLower())</a></div>
                            @:<div><a href="/user/edit_comments" class="annytab-menu-link">@comments_tt</a></div>
                            @:<div><a href="/user/edit_ratings" class="annytab-menu-link">@ratings_tt</a></div>
                            @:<div><a href="/user/logout" class="annytab-menu-link">@log_out_tt</a></div>
                        }
                        else
                        {
                            @:<div><a href="/user/login" class="annytab-menu-link">@log_in_tt</a></div>
                        }
                    </div>
                </div>
            </div>

            @* Main middle container *@
            <div class="annytab-layout-main-content">
                <div style="padding:10px;">
                    @RenderBody()
                </div>
            </div>

            @* Gradient *@
            <div class="annytab-basic-gradient-up"></div>

            @* The footer *@
            <div class="annytab-layout-footer">
                <div style="padding:10px;">
                    <span>@Html.Raw(copyright_information_tt)</span>
                </div>
            </div>
        </div>

        @* The right container *@
        <div class="annytab-layout-right-content">
            <div style="padding:0px;margin:0px 0px 0px 20px;">
                @* Ads *@
                @foreach (Ad ad in adsRight)
                {
                    @:<div>@Html.Raw(ad.ad_code)</div>
                }
                <div class="annytab-basic-space"></div>
            </div>
        </div>
    </div>

    @* Loading animation *@
    <div id="animationContainer" class="annytab-loading-outer-container">
        <div id="animationImage" class="annytab-loading-inner-container"></div>
    </div>

    <div id="fb-root"></div>

    @* Shared scripts *@
    @Html.Partial(domain.custom_theme_id == 0 ? "/Views/shared_front/_shared_scripts.cshtml" : "/Views/theme/front_shared_scripts.cshtml")

    @* Scripts *@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js")
    @Scripts.Render(domain.custom_theme_id == 0 ? "/Scripts/annytab_front/annytab.default-functions.js" : "/Scripts/theme/annytab.default-functions.js")
    @Scripts.Render(domain.custom_theme_id == 0 ? "/Scripts/annytab_front/annytab.standard-layout-functions.js" : "/Scripts/theme/annytab.standard-layout-functions.js")
    @RenderSection("scripts", required: false)
</body>
</html>