@{
    // Get the form data
    QueryParams parameters = ViewBag.QueryParams;
    string queryString = "/admin_media_files" + QueryParams.GetQueryString(parameters);
    
    // Get translated texts
    KeyStringList tt = ViewBag.TranslatedTexts;
    string show_tt = tt.Get("show");
    string list_tt = tt.Get("list");
    string new_tt = tt.Get("new");
    string search_tt = tt.Get("search");
    string id_tt = tt.Get("id");
    string title_tt = tt.Get("title");
    string media_type_tt = tt.Get("media_type");
    string source_tt = tt.Get("source");
    string ascending_tt = tt.Get("ascending");
    string descending_tt = tt.Get("descending");
    string sort_tt = tt.Get("sort");
    string on_tt = tt.Get("on");
}

@*The menu bar*@
<div class="annytab-form-menubar">
    @using (Html.BeginForm("search", "admin_media_files", FormMethod.Post))
    {
        <input type="button" class="annytab-form-button" value="@(show_tt + " " + list_tt.ToLower())" onclick="location.href='@Url.Action("index", "admin_media_files", new { sf = parameters.sort_field, so = parameters.sort_order, pz = parameters.page_size })'" />
        <input type="button" class="annytab-form-button" value="@new_tt" onclick="location.href='@Url.Action("edit", "admin_media_files", new { id = 0, returnUrl = queryString })'" />
        <select name="selectSortField" class="annytab-form-select" style="width:100px;">
            <option value="id" @(parameters.sort_field == "" ? Html.Raw("selected='selected'") : Html.Raw(""))>@(sort_tt + " " + on_tt.ToLower())</option>
            <option value="id" @(parameters.sort_field == "id" ? Html.Raw("selected='selected'") : Html.Raw(""))>@id_tt</option>
            <option value="title" @(parameters.sort_field == "title" ? Html.Raw("selected='selected'") : Html.Raw(""))>@title_tt</option>
            <option value="media_type" @(parameters.sort_field == "media_type" ? Html.Raw("selected='selected'") : Html.Raw(""))>@media_type_tt</option>
            <option value="src" @(parameters.sort_field == "src" ? Html.Raw("selected='selected'") : Html.Raw(""))>@source_tt</option>
        </select>
        <select name="selectSortOrder" class="annytab-form-select" style="width:80px;">
            <option value="ASC" @(parameters.sort_order == "ASC" ? Html.Raw("selected='selected'") : Html.Raw(""))>@ascending_tt</option>
            <option value="DESC" @(parameters.sort_order == "DESC" ? Html.Raw("selected='selected'") : Html.Raw(""))>@descending_tt</option>
        </select>
        <select name="selectPageSize" class="annytab-form-select" style="width:50px;">
            <option value="10" @(parameters.page_size == 10 ? Html.Raw("selected='selected'") : Html.Raw(""))>10</option>
            <option value="20" @(parameters.page_size == 20 ? Html.Raw("selected='selected'") : Html.Raw(""))>20</option>
            <option value="40" @(parameters.page_size == 40 ? Html.Raw("selected='selected'") : Html.Raw(""))>40</option>
            <option value="80" @(parameters.page_size == 80 ? Html.Raw("selected='selected'") : Html.Raw(""))>80</option>
        </select>
        <input id="txtSearch" name="txtSearch" type="text" class="annytab-form-textbox" style="width:150px;" value="@Server.UrlDecode(parameters.keywords)" />
        <input type="submit" class="annytab-form-button" value="@search_tt" />
    }
</div>
